*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 14px;
    scroll-behavior: smooth;
}

a:hover {
    text-decoration: none;
}

.cto {
    background: #FDFFFF;
    padding-top: 100px;
}

.cto h5 {
    font-weight: bold;
    font-weight: 700;
    font-size: 12px;
    line-height: 21px;
    color: #1E266D;
    margin-bottom: 20px;
}

.cto h1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    color: #1E266D;
    margin-bottom: 20px;
}

.cto p {
    font-weight: normal;
    font-size: 10px;
    color: #1f1c1c;
}

.cto .p-links a {
    color: #00387A;
    text-decoration: none;
    transition: none 0s ease 0s;
    font-size: 9px;
}

.cto .p-links {
    margin-bottom: 20px;
}

.cto .p-links a:hover {
    color: #23d3d3;
}

.cto button {
    padding: 13px 33px;
    border: none;
    cursor: pointer;
    background: #1E266D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #F8EFEF
}

.cto button:focus {
    border: none;
    outline: none;
}

.cto-text {
    padding-right: 5rem;
    padding-top: 7rem;
}

.cto-benefit {
    padding-top: 12rem;
}

.cto-card {
    padding: 0 15px 30px 15px;
}

.illustration {
    height: 71px;
    width: 123px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.cto-card>div {
    background: #F7F5F9;
    /* opacity: 0.5; */
    border: 1px solid #EADFFF;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(27, 46, 92, 0.25);
    padding: 25px 30px 28px;
    border-radius: 5px;
    height: 100%;
}

.cto-card>div:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

ion-icon {
    color: #23D3D3;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.iconify {
    height: 70px;
    width: 52px;
    color: #23D3D3;
}

.cto-card h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #00387A;
    margin-bottom: 20px;
    word-wrap: break-word;
    word-break: break-all;
}

.cto-card p {
    font-size: 14px;
    line-height: 21px;
    color: #211F1F;
}



.container-cto{
    padding: 3rem 0 1rem 0;
    
}

.btn-invest{
    background: #1E266D;
    color: #F7F5F9;
    height: 3rem;
    width: 12rem;
    border: none;
    cursor: pointer;
    border-radius: 0.3rem;
    font-weight: bolder;
    
}

.btn-invest:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}


.container-cto h1{
    color: #00387a;
    font-weight: bolder;
}

.con{
    display: flex;
    justify-content: space-evenly;

}

.containe{
    display: flex;
    justify-content: space-between;
    background-color: #FAFEFE;
    padding: 20px;
}

.card{
    width: 18vw;
    min-height: 200px;
    background-color: #F7F5F9;
    border: solid 1px #EADFFF;
    box-shadow: 0px 2px 2px rgba(27, 46, 92, 0.25);
    padding: 25px 30px 28px;
    color: #211f1f;
}



.card:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.card h1{
    font-weight: bold;
    padding-right: 30px;
    font-size: 1rem;
    
}

.icon{
    color: #23d3d3;
    height: 71px;
    width: 123px;
}

.card p{
    margin-top: 20px;
}

.card a {
    text-decoration-color: #877d7d;
    color: #877d7d;

}

.divided{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 70px 20px 70px 20px;
    background-color: #E5EEF6;
}

.fine{
    width: 50vw;
}

.divided-card{
    width: 50vw;
    background-color: #00387a;
    padding: 20px;
    padding-right: 30px;
}

.divided h4{
    color: #FAFEFE;
    font-weight: bolder;
    font-size: 1.5rem;
}

.divided-card img{
    height: 4vh;
    width: 140px;

}

.divided p{
    color: #FAFEFE;
    font-weight: 500;
    
}

.right{
     display: block;
     float: right;
}

.divided h3{
    color: #FAFEFE;
    font-weight: bolder;
    justify-self: flex-end;
}

.up{
    opacity: 50%;
}


.container2{
    display: flex;
    justify-content: space-evenly;
    
}

.container3{
    display: flex;
    justify-content: space-evenly;

}


.icons{
    color: #23d3d3;
    font-size: 2rem;
   
}

.about{
    
    background-color: #FAFEFE;
    padding: 20px;
}

.aboutcard{
    width: 30vw;
    background-color: #ECECEC;
    border: solid 1px #EADFFF;
    padding: 20px;
    margin-top: 10px;
    color: #211f1f;
}

.aboutcard a {
    text-decoration: none;
    color: #23d3d3;

}
.aboutcard h2{
    font-weight: bolder;
    font-size: 1.3rem;
}


.about h1{
    font-weight: bolder;
    color: #00387a;
    font-size: 3rem;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color:#00387a;
    color: #F7F5F9;
    cursor: pointer;
    padding: 10px;
    border-radius:5px;
  }
  
  #myBtn:hover {
    background-color: rgb(100, 255, 218);
    color: #F7F5F9;
  }


.container4{
    display: flex;
    justify-content: space-between;
    
}

.products{
    
    background-color: #FAFEFE;
    padding: 20px;
}

.product-h1{
    font-weight: bolder;    
    font-size: 3rem;
    color: #00387a;
}

.productcard{
    width: 400px;
    background-color: #ECECEC;
    border: solid 1px #EADFFF;
    padding: 20px 20px 20px 20px;
    color: #211f1f;
}

.product1{
    font-weight: bolder;
    color:#1e266d;
    font-size: 1.5rem;
}

.product2{
    font-weight: bolder;
    color: #23d3d3;
    font-size: 1.5rem;
}

.product3{
    font-weight: bolder;
    color:#cf1ed2 ;
    font-size: 1.5rem;
}

.productcard a {
    color: #23d3d3;
} 

.container5{
    display: flex;
    justify-content: space-around;
}


.client{
    
    background-color: #FAFEFE;
    padding: 40px;
    padding-left: 80px;
    padding-right: 80px;
    color: #211f1f;
}

.client img{
    height: 80vh;
    width: 40vw;
}

.client h1{
    font-weight: bolder;
    font-size: 3rem;
    color: #00387a;
}

.clientcard{
    width: 50vw;
    background-color: #00387a;
    border: solid 1px #00387a;
    padding: 40px 70px 10px 70px;
    color: #FAFEFE;
    font-size: 1.7rem;
    
}

.clientcard h5{
    opacity: 0.5;

}

.container6{
    display: flex;

}

.next{
    padding: 20px 20px 20px 20px;
    background-color: #FAFEFE;
    padding: 20px;
    color: #00387a;
}



.nextcard{
    width: 90vw;
    background-color: #F7F5F9;
    padding: 20px;
    color: #211f1f;
    border: solid 1px #EADFFF;
    border-radius: 5px;
}

.str{
    font-size: 2rem;
}

.nextcard h5{
    font-weight: bolder;
    font-size: 1.5rem;
    color: #00387a;
}

.nextcard p {
    color:#211f1f;
}

.next p{
    font-size: 1.2rem;
}

.next button{
    color: #FAFEFE;
    background-color: #00387a;
    width: 150px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.next a{
    text-decoration: none;
    color: #23d3d3;
    font-size: 1rem;
}



.blog {
    background: #E5EEF6;
    padding: 70px 15px;
}

.blog h5 {
    font-size: 12px;
    line-height: 107.5%;
    color: #202979;
    font-weight: 700;
    margin-bottom: 7px;
}

.blog h1 {
    font-size: 40px;
    line-height: 107.5%;
    color: #00387A;
    margin-bottom: 20px;
    font-weight: 700;
}

.blog .view-post {
    font-size: 12px;
    line-height: 107.5%;
    color: #23D3D3;
    margin-bottom: 20px;
}



.blog-card {
    padding-bottom: 30px;
    padding: 0 15px;
    margin-bottom: 30px;
}

.blog .blog-card .blog-text {
    background: #FEFEFE;
    padding: 26px 30px;
    min-height: 293px;
}

.blog-text .posted-on {
    font-size: 12px;
    line-height: 107.5%;
    letter-spacing: -0.07em;
    color: #898989;
}

.blog-text .posted-in {
    font-size: 12px;
    line-height: 107.5%;
    letter-spacing: -0.07em;
    color: #00387A;
}

.blog-text h5 {
    margin-bottom: 10px;
    color: #00387A
}

.blog-text h3 {
    font-size: 20px;
    line-height: 107.5%;
    color: #00387A;
    font-weight: 700;
    margin-bottom: 20px;
}

.blog-text p {
    font-size: 14px;
    line-height: 25px;
    color: #252525;
    margin-bottom: 20px;
}

.blog-text .read-more {
    font-size: 12px;
    line-height: 107.5%;
    text-decoration-line: underline;
    color: #737373;
    margin-bottom: 0;
}

.container8{
    display: flex;
    
    flex-wrap: nowrap;
    
}

.part2{
    justify-self: first baseline ;
    flex: 1;
}



.part3{
    flex: 1;
    justify-self: center;
    
    
}
.part4{
    justify-content: flex-end;
    flex: 1;
    
}
.footer-wrapper {
    padding: 120px 15px 80px;
    background: #00387A;
}

footer ul {
    list-style-type: none;
}

footer .footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer-container .overwood,
.social-icons,
.credentials-footer,
.company-footer {
    flex: 1;
    padding-bottom: 30px;
    padding-right: 15px;
}

.footer-container h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    line-height: 107.5%;
    color: #F8EFEF;
    margin-bottom: 18px;
}

.footer-container p {
    font-size: 14px;
    line-height: 24px;
    color: #F8EFEF;
    margin-bottom: 20px;
}

.footer-container li a {
    font-size: 14px;
    line-height: 107.5%;
    text-decoration: none;
    color: #F8EFEF;
}

.footer-container li {
    padding-bottom: 10px;
}

.footer-container h4 {
    font-size: 18px;
    line-height: 107.5%;
    color: #F8EFEF;
    margin-bottom: 40px;
}

#email,
#name {
    padding: 11px 20px;
    margin-bottom: 20px;
    border: 1px solid #e2e2e2;
    width: 100%;
    max-width: 320px;
    display: block;
    height: 45px;
}

#submit {
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-size: 12px;
    padding: 13px 33px 13px 33px;
    font-weight: 800;
    text-align: center;
    background: #23d3d3;
    cursor: pointer;
    border: 1px solid transparent;
    color: #F8EFEF;
    outline: none;
    min-height: 45px;
    min-width: 135px;
}

footer .copyright-wrapper {
    background: #1E266D;
    padding: 18px 0;
}

footer .copyright-container {
    display: flex;
    flex-direction: column;
}

footer .copyright-links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer .copyright {
    font-size: 13px;
    line-height: 107.5%;
    color: #D8CFCF;
    align-self: center;
}

footer .copyright-links a {
    font-size: 13px;
    line-height: 107.5%;
    color: #D8CFCF;
    text-decoration: none;
}

footer .social-icons a {
    background: #fff;
    border-color: #fff;
    color: #363636;
}

.social-icons a {
    border: 1px solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    color: #4b4b4b;
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 35px;
    font-size: 18px;
    line-height: 35px;
    margin-right: 6px;
}



@media screen and (max-width:1024px) {

    .container-cto{
        padding: 7rem 0 1rem 0;
        
    }

    .mobile-icon{
        color: #00387a;
        float: right;
        
        margin-top: -20px;
    }

    .p1{
        color: #211f1f;
        font-weight: bolder;
    }

    .card{
        width:18vw;
        min-height: 200px;
        background-color: #F7F5F9;
        border: solid 1px #EADFFF;
        padding: 20px;
        color: #211f1f;
        
    }

    .card h1{
        font-weight: bold;
        padding-right: 30px;
        
    }

    .icon{
        color: #23d3d3;
        height: 3vh;
        width: 10vw;
    }

    .card p{
        margin-top: 20px;
    }

    .card a {
        text-decoration-color: #877d7d;
        color: #877d7d;

    }
    
    .divided{
        padding: 70px 0 70px 0;
    }


    .divided-card{
        width: 80vw;
        background-color: #00387a;
        padding: 20px;
        padding-right: 30px;
    }

    
    .icons{
        color: #23d3d3;
        font-size: 2rem;
    }

    .about{
        background-color: #FAFEFE;
        padding: 20px;
        padding-top: 60px;
    }

    .aboutcard{
        width: 30vw;
       
        background-color:#ECECEC;
        border: solid 1px #EADFFF;
        padding: 40px;
        margin-top: 10px;
        color: #211f1f;
    }

    
    .products{
        background-color: #FAFEFE;
        padding-top: 40px;
        padding: 20px;
    }

    .product-h1{
        font-weight: bolder;    
        font-size: 3rem;
        padding-left: 20px;
    }

    .productcard{
        width: 300px;
        background-color: #ECECEC;
        padding: 20px 50px 10px 10px;
        color: #211f1f;
        border: solid 1px #EADFFF;
    }

    .client img {
        width: 50vw;
        height: 100%;
    }

    .client h1{
        font-weight: bolder;
        font-size: 3rem;
    }

    .clientcard{
        width: 50vw;
        background-color:#00387a;
        padding: 40px 70px 10px 70px;
        color: #FAFEFE;
        border: solid 1px #00387a;
        font-size: 1.7rem;
        
    }

    
    .nextcard{
        width: 85vw;
       min-height: 100px;
        background-color: #F7F5F9;
        padding: 20px;
        color: #211f1f;
        border: solid 1px #EADFFF;
    }

    .nextcard h5{
        font-size: 1rem;
    }

    .next button{
        color: #FAFEFE;
        background-color: #00387a;
        width: 25vw;
        height: 40px;
    }

   
}

@media screen and (max-width:800px) {
    .container-cto{
        padding: 0 0 1rem 0;
    }

    
    .card-section {
        height: 30vh;
        width: 100%;
        background-color: #FAFEFE;
        padding: 20px;
        
    }

    .card{
        width: 23vw;
        height: 19vh;
        background-color: #F7F5F9;
        border: solid 1px #EADFFF;
        padding: 20px;
        color: #211f1f; 
    }

    .fine{
        width: 50vw;
        
    }

    .divided-card{
        width: 50vw;
       
    }

    .clientcard{
        width: 50vw;
        padding: 40px 40px 10px 40px;
        font-size: 1.5rem;
    }
}

@media screen and (max-width:480px) {

      .container-cto{
        padding: 1rem 0 1rem 0;
        
    }
    
    
    
    .containe{
        display: flex;
        flex-direction: column;
        background-color: #FAFEFE;
        padding: 20px;
    }

    

    .card{
        width: 320px;
        min-height: 200px;
        background-color: #F7F5F9;
        border: 1px solid #EADFFF;
        padding: 20px 25px 35px 15px;
        margin: 1rem 0 1rem 0;
        color: #211f1f;
    }

    .card h1{
        font-weight: bold;
        font-size: 1.3rem;
    }

    .icon{
        color: #23d3d3;
        height: 6vh;
        width: 24vw;
       
    }

    .card p{
        margin-top: 20px;
    }

    .card a {
        text-decoration-color: #877d7d;
        color: #877d7d;

    }

    

    .divided{
        display: flex;
        flex-direction: column;
        padding: 70px 10px 70px 10px;
        background-color: #E5EEF6;
    }

    .fine{
        width: 95vw;
    }

      

    .divided-card{
        display: block;
        width: 95vw;
        background-color: #00387a;
        padding: 20px;
        padding-right: 30px;
    }

    .divided h4{
        color: #FAFEFE;
        font-weight: bolder;
        font-size: 1.5rem;
    }

    .divided-card img{
        height: 4vh;
        width: 120px;

    }

    .divided p{
        color: #FAFEFE;
        font-weight: 500;
        
    }

    .right{
        display: block;
        float: right;
         
         
    }

    .divided h3{
        color: #FAFEFE;
        font-weight: bolder;
        justify-self: flex-end;
    }

    .up{
        opacity: 50%;
    }

    .container2{
        display: flex;
        flex-direction: column;
    }

    .container3{
        display: flex;
        flex-direction: column;
    }

    .about{
        background-color: #FAFEFE;
        padding: 20px;
        
    }

    
    .icons{
        color: #23d3d3;
        font-size: 2rem;
       
    }

    .aboutcard{
        width: 90vw;
        background-color: #ECECEC;
        border: 1px solid #EADFFF;
        border-radius: 5px;
        padding: 20px 20px 20px 20px;
        color: #211f1f;

    }

    .aboutcard a {
        text-decoration: none;
        color: #23d3d3;

    }
    .aboutcard h2{
        font-weight: bolder;
        font-size: 1.3rem;
    }


    .about h1{
        font-weight: bolder;
        font-size: 3rem;
    }

    .products{
        background-color: #FAFEFE;
        padding: 20px;
    }

    .container4{
        display: flex;
        flex-direction: column;
    }

    .product-h1{
        font-weight: bolder;
        padding-left: 20px;
        font-size: 1.5rem;
        color: #00387a;
    }

    .productcard{
        width: 320px;
        min-height: 180px;
        background-color: #ECECEC;
        padding: 20px 20px 20px 20px;
        color: #211f1f;
        border: solid 1px #EADFFF;
        border-radius: 5px;
        

    }

    .product1{
        font-size: 1.3rem;
    }

    .product2{
        font-size: 1.3rem;
    }

    .product3{
        font-size: 1.3rem;
    }

   
    .client{
        background-color: #FAFEFE;
        padding: 20px;
        color: #211f1f;
    }

    .client img{
        height: 100%;
        width: 85vw;
    }

    .container5{
        display: flex;
        flex-direction: column;
    }

    .desktopcard{
        display: none;
    }

    .client h1{
        font-weight: bolder;
        font-size: 1.5rem;
        color: #00387a;
    }

    .clientcard {
        width: 85vw;
        background-color: #00387a;
        padding: 40px 55px 20px 55px;
        color: #FAFEFE;
        border: solid 1px #00387a;
        font-size: 1.2rem;
    }

    .clientcard h5{
        opacity: 0.5;
    }

    .container6{
        display: flex;
        flex-direction: column;
    }

    .next{
        background-color: #FAFEFE;
        padding: 20px;
        color: #00387a;
    }




    .nextcard{
        width: 85vw;
       min-height: 200px;
        background-color: #F7F5F9;
        padding: 20px;
        color: #211f1f;
        border: solid 1px #EADFFF;
    }

    .next button{
        color: #FAFEFE;
        background-color: #00387a;
        width: 100px;
        height: 35px ;
    }

    .end{
        background-color: #1e266d;
        color: #FAFEFE;
        height: 15vh;
    }

    .bottom{
        display: flex;

        justify-content: space-around;

    }

    .end p{
        opacity: 0.5;
    }
}

